---
import About from "../components/About.astro";
import Hero from "../components/Hero.astro";
import Journey from "../components/Journey.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <section class="hero">
    <Hero />
  </section>
  <section class="w-[80%] mx-auto mt-10">
    <About />
  </section>
  <section class="w-[80%] mx-auto mt-10">
    <Journey />
  </section>
  <section class="w-[80%] mx-auto mt-10">
    <Skills />
  </section>
  <section class="w-[80%] mx-auto mt-10">
    <Projects home="true" />
    <!-- <a href="projects/" class="flex">See more</a> -->
    <a
      href="projects/"
      class="flex gap-1 w-fit text-center items-center justify-center mx-auto px-3 py-2 rounded-md text-base font-medium bg-white/20 hover:bg-white/30 transition-colors mt-6 mb-24 fade-in from-bottom"
    >
      <span>See more</span>
      <span>&gt;</span>
    </a>
  </section>
</Layout>
