---
// src/pages/index.astro
import About from "../components/About.astro";
import Hero from "../components/Hero.astro";
import Skills from "../components/Skills.astro";
import Layout from "../layouts/Layout.astro";

// Import project data
---

<Layout title="Home">
  <section class="hero">
    <Hero />
  </section>
  <section class="w-[80%] mx-auto mt-10">
    <About />
  </section>
  <section class="w-[80%] mx-auto mt-10">
    <Skills />
  </section>
  <section class="featured-projects">
    <h2>Featured Work</h2>
  </section>
</Layout>
