---
import Layout from "../layouts/Layout.astro";
// import { projects } from "../data/projects";
import FullProjects from "../components/Projects.astro";
---

<Layout title="Projects">
  <div class="flex w-[70%] mx-auto mt-10 flex-col justify-center items-center">
    <FullProjects />
  </div>
</Layout>
