---
import Layout from "../layouts/Layout.astro";
import AboutMe from "../components/About.astro";
import MyJourney from "../components/Journey.astro";
import MySkills from "../components/Skills.astro";
---

<Layout title="Skills">
  <div
    class="flex w-[80%] mx-auto mt-10 flex-col justify-center items-center mb-10"
  >
    <MySkills />
  </div>
</Layout>
