---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Thank You!">
  <div
    class="flex flex-col justify-center items-center bg-white/10 backdrop-blur-md text-white mt-10 rounded-4xl w-[60%] mx-auto p-32"
  >
    <h1 class="text-5xl font-bold">Thanks!</h1>
    <h1 class="text-5xl font-bold">Your message was sent.</h1>
    <p class="mt-10 text-2xl">I'll get back to you as soon as possible.</p>
    <a
      href="/"
      class="bg-blue-600 text-white hover:bg-blue-700 px-4 py-2 rounded-md text-sm font-medium mt-10"
      >Go Back to Home</a
    >
  </div>
</Layout>
