---
import ProfilePic from "../assets/jibin.jpg";
---

<div
  class="flex flex-col items-center bg-white/10 backdrop-blur-md text-white mt-10 w-full rounded-4xl"
>
  <h1 class="text-5xl font-bold mb-4 mt-4">About Me</h1>
  <div class="flex flex-col-reverse lg:flex-row">
    <p class="text-lg max-w-2xl text-left p-4 m-4">
      I'm a software developer and AI enthusiast passionate about building
      meaningful, forward-thinking technology. With a strong foundation in
      React, Django, and Astro, I create responsive, scalable web applications
      with clean, maintainable code and thoughtful user experiences. I'm
      especially drawn to the potential of Large Language Models and autonomous
      agents, and I continuously explore how AI can automate workflows, enhance
      creativity, and shape intelligent systems that solve real-world problems.
    </p>
    <div class="flex items-center justify-center mb-4">
      <img
        src={ProfilePic.src}
        alt="Jibin C Baby"
        class="rounded-full lg-w-64 h-64 shadow-lg items-center justify-center"
      />
    </div>
  </div>
</div>
