<div
  class="flex flex-col items-center bg-white/10 backdrop-blur-md text-white mt-10 w-full rounded-4xl"
>
  <h1 class="text-5xl font-bold mb-4 mt-4">About Me</h1>
  <div class="flex">
    <p class="text-lg max-w-2xl text-left p-4 m-4">
      I'm a software developer and AI enthusiast driven by curiosity and a love
      for building impactful tech. I thrive at the intersection of software
      engineering and artificial intelligence, where logic meets innovation. On
      the development side, I specialize in crafting responsive, scalable web
      applications using tools like React JS, Django, Astro. I focus on writing
      clean, maintainable code and delivering seamless user experiences.
      Parallel to that, I’m deeply passionate about AI, particularly Large
      Language Models (LLMs) and autonomous agents. I actively explore how these
      powerful technologies can be used to build intelligent systems, automate
      workflows, and enhance human creativity. Whether I’m building a sleek
      frontend, structuring a backend API, or experimenting with LLM-powered
      tools, I’m always pushing boundaries and learning something new.
    </p>
    <div>
      <img
        src="/src/assets/jibin.jpg"
        alt="Jibin C Baby"
        class="rounded-full w-64 h-64 ml-4 shadow-lg items-center justify-center"
      />
    </div>
  </div>
</div>
