---
import HeroImage from "../assets/hero.jpeg";
---

<div
  class="relative w-full md:h-[30rem] h-[20rem] flex flex-col items-center justify-center font-bold text-white bg-cover bg-center"
  style={`background-image: url(${HeroImage.src}); background-size: cover; background-position: center;`}
>
  <div
    class="background-gradient absolute inset-0 bg-gradient-to-tl from-black via-gray-900 to-black opacity-70 z-10"
  >
  </div>
  <div class="relative z-20 font-mono md:text-5xl text-3xl">
    Hi, I'm <span class="neon-text">Jibin C Baby</span>
  </div>
  <div class="z-20 md:text-xl text-lg mt-6 italic">
    Transforming ideas into digital reality
  </div>
</div>
