---
import { skills } from "../data/skills";
---

<div class="flex flex-col">
  <h1 class="text-5xl font-bold mb-4 mt-16 text-center justify-center">
    Skills
  </h1>

  <div
    class="grid grid-cols-2 grid-rows-2 gap-6 justify-center mt-10 items-stretch"
  >
    {
      skills.map((skill) => {
        return (
          <div class="flex flex-col bg-white/10 backdrop-blur-md text-white rounded-4xl p-8">
            <h2 class="text-3xl font-bold mb-5 text-center">{skill.title}</h2>
            <ul class="list-disc list-inside text-2xl items-left space-y-4">
              {skill.items.map((item) => {
                return (
                  <li class="flex items-center gap-10">
                    <span>
                      <img src={item.icon} alt="" width="40" height="40" />
                    </span>
                    {item.name}
                  </li>
                );
              })}
            </ul>
          </div>
        );
      })
    }

    <!-- <div
      class="flex flex-col items-center bg-white/10 backdrop-blur-md text-white rounded-4xl p-4"
    >
      <h2 class="text-3xl font-bold mb-2">Backend</h2>
      <ul class="list-disc list-inside text-lg">
        <li>Django</li>
        <li>Node JS</li>
        <li>Express JS</li>
        <li>FastAPI</li>
      </ul>
    </div>

    <div
      class="flex flex-col items-center bg-white/10 backdrop-blur-md text-white rounded-4xl p-4"
    >
      <h2 class="text-3xl font-bold mb-2">AI & ML</h2>
      <ul class="list-disc list-inside text-lg">
        <li>Large Language Models (LLMs)</li>
        <li>Autonomous Agents</li>
        <li>Machine Learning</li>
      </ul>
    </div>

    <div
      class="flex flex-col items-center bg-white/10 backdrop-blur-md text-white rounded-4xl p-4"
    >
      <h2 class="text-3xl font-bold mb-2">Tools & Technologies</h2>
      <ul class="list-disc list-inside text-lg">
        <li>Git & GitHub</li>
        <li>Docker</li>
        <li>AWS (S3, EC2)</li>
        <li>PostgreSQL</li>
      </ul>
    </div> -->
  </div>
</div>
