---
import { Instagram, Linkedin, Github, Mail } from "@lucide/astro";
---

<div class="inline-flex mt-4 mb-4 justify-end items-end fade-in from-right">
  <a
    href="
        https://www.instagram.com/jibin_c.b/"
    target="_blank"
    rel="noopener noreferrer"
    class="text-white/80 hover:text-white/100 transition-colors duration-300 mr-4"
  >
    <Instagram size={24} />
  </a>
  <a
    href="https://www.github.com/in/jibincb/"
    target="_blank"
    rel="noopener noreferrer"
    class="text-white/80 hover:text-white/100 transition-colors duration-300 mr-4"
  >
    <Github size={24} />
  </a>
  <a
    href="https://www.linkedin.com/in/jibin-c-baby/"
    target="_blank"
    rel="noopener noreferrer"
    class="text-white/80 hover:text-white/100 transition-colors duration-300 mr-4"
  >
    <Linkedin size={24} />
  </a>
  <a
    href="mailto:jibincbaby222@gmail.com"
    target="_blank"
    rel="noopener noreferrer"
    class="text-white/80 hover:text-white/100 transition-colors duration-300 mr-4"
  >
    <Mail size={24} />
  </a>
</div>
