---
// src/layouts/BaseLayout.astro
import Header from "../components/Header.astro";
import "../styles/global.css";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Portfolio of Jibin, a software developer specializing in React, Django, Astro and some AI technologies."
    />

    <title>Jibin C Baby - {title}</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body
    class="min-h-screen bg-gradient-to-r from-black via-gray-900 to-black text-white"
  >
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
