---
// src/layouts/BaseLayout.astro
import Header from "../components/Header.astro";
import "../styles/global.css";
import "../styles/animations.css";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Portfolio of Jibin, a software developer specializing in React, Django, Astro and some AI technologies."
    />

    <title>Jibin C Baby - {title}</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body
    class="min-h-screen bg-gradient-to-r from-black via-gray-900 to-black text-white"
  >
    <Header />
    <main>
      <slot />
    </main>
  </body>
  <script is:inline>
    // Alternative approach
    document.addEventListener("DOMContentLoaded", () => {
      setupAnimations();
    });

    // You can also call this directly if needed
    function setupAnimations() {
      const elements = document.querySelectorAll(".fade-in");
      console.log("Found fade-in elements:", elements, elements.length);

      const observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              entry.target.classList.add("vi");
              observer.unobserve(entry.target);
            } else {
              entry.target.classList.remove("vi");
            }
          });
        },
        { threshold: 0.2 }
      );

      elements.forEach((el) => observer.observe(el));
    }

    // Call immediately in case the DOM is already loaded
    if (
      document.readyState === "interactive" ||
      document.readyState === "complete"
    ) {
      setupAnimations();
    }
  </script>
</html>
